<center>
    <br><br><br><br>
    <h1>Welcome to Billinho</h1>
    <p>A project by Hevelyn and Yuri</p>

    <br><br>
    The Billinho project aims to simulate an API for managing the monthly fees paid by students to the educational institution they study.
</center>
